@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-primary: #F4D04E;
  --color-background: #FFFFFF;
  --color-text-primary: #111111;
  --color-text-secondary: #6B6B6B;
  --font-family: "Figtree", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 150%;
}

.img-card {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.tag {
  display: flex;
  width: fit-content;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--color-primary);
  font-size: 14px;
  font-weight: 800;
  color: var(--color-text-primary);
  box-sizing: border-box;
}

.publish-info {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  background: var(--color-background);
  font-size: 14px;
  font-weight: 500;

}

.title {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  align-self: stretch;
  font-size: 24px;
  font-weight: 800;
  color: var(--color-text-primary);
}

.text {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-secondary);
  padding-right: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  width: 100%;
  max-height: 522px;
  height: auto;
  padding: 24px;
  font-family: var(--font-family);
  background-color: var(--color-background);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
  text-align: left;
  box-shadow: 8px 8px 0px 0px #000;
  border: 1px solid var(--color-gray-950, #111);
  flex-shrink: 0;
}

.card h2 {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secondary);
}

.presentation {
  padding: 0;
  margin: 0;
  margin-top: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0;
  background: var(--color-background);
  font-size: 14px;
  font-weight: 500;
  gap: 12px
}

.img-user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.name-user {
  font-size: 14px;
  font-weight: 800;
  color: var(--color-text-primary);
}

@media (max-width: 768px) {
  .card {
    margin: 0 24px;
  }
}